﻿ul,
p {
    margin-top: 0;
    margin-bottom: 0px;
    display: inline;
}

ul .li {
         list-style: none;
    }
.FIZZ,
.WIZZ {
    margin-top: 0;
    margin-bottom: 0px;
    color: blue !important;
}

.BUZZ,
.WUZZ {
    margin-top: 0;
    margin-bottom: 0px;
    color: green !important;
}
.field-validation-error{
    color:red;
}






